:root {
  --color-background-main: #111111;
  --color-main: #999999;
  --color-secondary: #792490;
  --color-blue: #144ebd;
  --color-light-blue: #3d74da;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: var(--color-background-main);
  color: var(--color-main);
}

.topnav {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.topnav a {
  padding: 0 14px;
}

.topnav--icon {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.topnav--icon .line {
  fill: none;
  stroke: var(--color-main);
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.topnav--icon .line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.topnav--icon .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.topnav--icon .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.topnav--icon.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.topnav--icon.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.topnav--icon.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.topnav .list--item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-bottom: 5px solid var(--color-secondary);
}
.header-content-name {
  margin: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.photo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-right: 1rem;
}
.photo img {
  width: 5rem;
  border-radius: 50%;
}
.main-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.section-name {
  text-align: center;
  text-transform: uppercase;
  color: var(--color-secondary);
}
.list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
li.list--item {
  padding: 0 0.1rem;
}
li.list--item:not(:first-child)::before {
  content: ' | ';
  color: var(--color-secondary);
}
a.link:hover {
  text-decoration: underline dotted var(--color-secondary) 2px;
}
a.link {
  text-decoration: none;
  color: var(--color-light-blue);
}
a.link:visited {
  text-decoration: none;
  color: var(--color-light-blue);
}

.skills-group {
  margin-left: 3rem;
}

.experience-list {
  list-style: none;
}

.example-code {
  border-left: 5px dashed var(--color-secondary);
  overflow: scroll;
}

.example-code--blue {
  color: var(--color-blue);
}

.example-code--light-blue {
  color: var(--color-light-blue);
}
.ml-3 {
  margin-left: 3rem;
}
.univercity-name {
  text-decoration: underline dotted var(--color-secondary) 2px;
}

.footer {
  display: flex;
  justify-content: center;
  border-top: 4px solid var(--color-secondary);
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

.footer-logo--rsscool {
  filter: invert(0.8);
}

@media screen and (max-width: 700px) {
  .topnav--icon {
    display: flex;
    align-self: center;
  }
  .topnav .list--item {
    display: none;
  }
  .topnav.responsive .list--item {
    display: flex;
  }
  .topnav.responsive .list {
    flex-direction: column;
  }
  .topnav.responsive .list--item::before {
    content: '';
  }
}